<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}

    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" href="#intro">About</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#">Skills</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="#examples">Projects</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content Section -->
    <div class="container">
        {{ content }}
    </div>

  {% include footer.html %}
</body>
</html>
